body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 61, 107);
    color:white;
    border-style:solid;
}

.header{
    color:white;
    font-size: 20px;
    padding: 10px 40px 0 40px;
    text-transform: uppercase;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.display{
    background-color: white;
    color:black;
    font-size: x-large;
}
/* Calculator */
.buttons{
    display: flex;
    background: thistle;
}
.left-area{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
    padding: 5px;
}
.other-buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background-color: wheat;
}
#clear{
    width:124px;
    align-self:right;
}
.numbers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
/* .row-4{
    display: flex;
    gap:5px
}
#equal{
    width: 122px;
} */
.buttons button{
    width: 60px;
    height: 60px;
    border-radius: 10%;
    border-style: none;
    margin: 0px;
    font-size: large;
}
div{
    padding: 0px;
    margin:0px;
    border:0px;
}
/* Operations area */
.operations{
    display: flex;
    flex-direction: column;
    background-color: tomato;
    justify-content: flex-end;
    align-items: flex-end;
    flex:1 1 auto;
    padding: 5px;
    gap: 5px;
}

.rest{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
}
.plus{
    height: 100%;
    background-color: violet;
}
.plus button{
    height: 100%;
}